In [48]:
# Import dependencies
import pandas as pd
import datetime
from sqlalchemy import create_engine

In [49]:
# The path to our CSV file
drinks_file = "data/538_alcohol/drinks.csv"
# Read our Kickstarter data into pandas
drinks_original = pd.read_csv(drinks_file)
drinks_original.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [50]:
drinks_df = pd.DataFrame(drinks_original)
drinks_df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [51]:
drinks_df['year'] = 2010
drinks_df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,year
0,Afghanistan,0,0,0,0.0,2010
1,Albania,89,132,54,4.9,2010
2,Algeria,25,0,14,0.7,2010
3,Andorra,245,138,312,12.4,2010
4,Angola,217,57,45,5.9,2010
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,2010
189,Vietnam,111,2,1,2.0,2010
190,Yemen,6,0,0,0.1,2010
191,Zambia,32,19,4,2.5,2010
192,Zimbabwe,64,18,4,4.7,2010

In [52]:
drinks_data = drinks_df.loc[:, ['country', 'total_litres_of_pure_alcohol', 'year']]
drinks_data

         country  total_litres_of_pure_alcohol  year
0    Afghanistan                           0.0  2010
1        Albania                           4.9  2010
2        Algeria                           0.7  2010
3        Andorra                          12.4  2010
4         Angola                           5.9  2010
..           ...                           ...   ...
188    Venezuela                           7.7  2010
189      Vietnam                           2.0  2010
190        Yemen                           0.1  2010
191       Zambia                           2.5  2010
192     Zimbabwe                           4.7  2010

[193 rows x 3 columns]

In [53]:
#drinks_data = drinks.set_index('country')
#drinks_data

In [54]:
drinks_data.dtypes

country                          object
total_litres_of_pure_alcohol    float64
year                              int64
dtype: object

In [55]:
drinks_data.to_csv("data/clean_drinks.csv", index=False, header=True)

In [56]:
# Connect to local database
#rds_connection_string = "<postgres>:<melsie>@localhost:5432/happiness_etoh_worldcup"
#engine = create_engine(f'postgresql://{rds_connection_string}')

engine = create_engine('postgresql://postgres:melsie@localhost:5432/happiness_etoh_worldcup')
connection = engine.connect()

In [57]:
engine.table_names()

['happiness_data', 'worldcup_data', 'drinks_data']

In [58]:
# Use pandas to load csv converted DataFrame into database
drinks_data.to_sql(name='drinks_data', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "drinks_data" violates foreign key constraint "fk_drinks_data_country"
DETAIL:  Key (country)=(Andorra) is not present in table "happiness_data".

[SQL: INSERT INTO drinks_data (country, total_litres_of_pure_alcohol, year) VALUES (%(country)s, %(total_litres_of_pure_alcohol)s, %(year)s)]
[parameters: ({'country': 'Afghanistan', 'total_litres_of_pure_alcohol': 0.0, 'year': 2010}, {'country': 'Albania', 'total_litres_of_pure_alcohol': 4.9, 'year': 2010}, {'country': 'Algeria', 'total_litres_of_pure_alcohol': 0.7, 'year': 2010}, {'country': 'Andorra', 'total_litres_of_pure_alcohol': 12.4, 'year': 2010}, {'country': 'Angola', 'total_litres_of_pure_alcohol': 5.9, 'year': 2010}, {'country': 'Antigua & Barbuda', 'total_litres_of_pure_alcohol': 4.9, 'year': 2010}, {'country': 'Argentina', 'total_litres_of_pure_alcohol': 8.3, 'year': 2010}, {'country': 'Armenia', 'total_litres_of_pure_alcohol': 3.8, 'year': 2010}  ... displaying 10 of 193 total bound parameter sets ...  {'country': 'Zambia', 'total_litres_of_pure_alcohol': 2.5, 'year': 2010}, {'country': 'Zimbabwe', 'total_litres_of_pure_alcohol': 4.7, 'year': 2010})]
(Background on this error at: http://sqlalche.me/e/gkpj)