In [29]:
#imports
import pandas as pd

In [30]:
# The path to our CSV file
worldcup_file = "data/world_cup_data/WorldCupMatches.csv"
# Read our world cup data into pandas
worldcup_original = pd.read_csv(worldcup_file)
#worldcup_df

In [31]:
# previewing the data types of each column
worldcup_original.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [38]:
# Check to see if there are any rows with missing data
worldcup_original.count()
worldcup_original

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
worldcup_cleaning = worldcup_original.loc[0:851, ["Year", "City", "Home Team Name", "Away Team Name", "Home Team Goals", "Away Team Goals"], {}]
worldcup_year = [:,]
# usa_ufo_df = clean_ufo_df.loc[clean_ufo_df["country"] == "us", columns]

,Year,City,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,1930.0,Montevideo,France,Mexico,4.0,1.0
1,1930.0,Montevideo,USA,Belgium,3.0,0.0
2,1930.0,Montevideo,Yugoslavia,Brazil,2.0,1.0
3,1930.0,Montevideo,Romania,Peru,3.0,1.0
4,1930.0,Montevideo,Argentina,France,1.0,0.0
...,...,...,...,...,...,...
847,2014.0,Salvador,Netherlands,Costa Rica,0.0,0.0
848,2014.0,Belo Horizonte,Brazil,Germany,1.0,7.0
849,2014.0,Sao Paulo,Netherlands,Argentina,0.0,0.0
850,2014.0,Brasilia,Brazil,Netherlands,0.0,3.0
851,2014.0,Rio De Janeiro,Germany,Argentina,1.0,0.0

In [44]:
worldcup_cleaning

       Year             City Home Team Name Away Team Name
0    1930.0      Montevideo          France         Mexico
1    1930.0      Montevideo             USA        Belgium
2    1930.0      Montevideo      Yugoslavia         Brazil
3    1930.0      Montevideo         Romania           Peru
4    1930.0      Montevideo       Argentina         France
..      ...              ...            ...            ...
847  2014.0        Salvador     Netherlands     Costa Rica
848  2014.0  Belo Horizonte          Brazil        Germany
849  2014.0       Sao Paulo     Netherlands      Argentina
850  2014.0        Brasilia          Brazil    Netherlands
851  2014.0  Rio De Janeiro         Germany      Argentina

[852 rows x 4 columns]