In [1]:
#imports
import pandas as pd
import datetime as dt

In [2]:
# The path to our CSV file
worldcup_file = "data/world_cup_data/WorldCupMatches.csv"
# Read our world cup data into pandas
worldcup_original = pd.read_csv(worldcup_file, encoding="ISO-8859-1")
#worldcup_df

In [3]:
# previewing the data types of each column
worldcup_original.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [4]:
# Check to see if there are any rows with missing data
worldcup_original.count()
worldcup_original

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
worldcup_cleaning = worldcup_original.loc[0:851, ["Year", "Home Team Name", "Away Team Name", "Home Team Goals", "Away Team Goals"]]

worldcup_cleaning

       Year Home Team Name Away Team Name  Home Team Goals  Away Team Goals
0    1930.0         France         Mexico              4.0              1.0
1    1930.0            USA        Belgium              3.0              0.0
2    1930.0     Yugoslavia         Brazil              2.0              1.0
3    1930.0        Romania           Peru              3.0              1.0
4    1930.0      Argentina         France              1.0              0.0
..      ...            ...            ...              ...              ...
847  2014.0    Netherlands     Costa Rica              0.0              0.0
848  2014.0         Brazil        Germany              1.0              7.0
849  2014.0    Netherlands      Argentina              0.0              0.0
850  2014.0         Brazil    Netherlands              0.0              3.0
851  2014.0        Germany      Argentina              1.0              0.0

[852 rows x 5 columns]

In [6]:
worldcup_cleaning.dtypes

Year               float64
Home Team Name      object
Away Team Name      object
Home Team Goals    float64
Away Team Goals    float64
dtype: object

In [7]:
worldcup_cleaning['Year'] = worldcup_cleaning['Year'].astype(int)

In [8]:
worldcup_year = worldcup_cleaning.loc[worldcup_cleaning["Year"] == 2010, :]
worldcup_year

     Year  Home Team Name Away Team Name  Home Team Goals  Away Team Goals
708  2010    South Africa         Mexico              1.0              1.0
709  2010         Uruguay         France              0.0              0.0
710  2010  Korea Republic         Greece              2.0              0.0
711  2010       Argentina        Nigeria              1.0              0.0
712  2010         England            USA              1.0              1.0
..    ...             ...            ...              ...              ...
767  2010        Paraguay          Spain              0.0              1.0
768  2010         Uruguay    Netherlands              2.0              3.0
769  2010         Germany          Spain              0.0              1.0
770  2010         Uruguay        Germany              2.0              3.0
771  2010     Netherlands          Spain              0.0              1.0

[64 rows x 5 columns]

In [9]:
worldcup_year = worldcup_year.rename(columns={"Year": "year", "Home Team Name": "home_country_team",
                                      "Away Team Name": "away_country_team", "Home Team Goals": "home_team_goals", "Away Team Goals": "away_team_goals"})

In [10]:
worldcup_year

,year,home_country_team,away_country_team,home_team_goals,away_team_goals
708,2010,South Africa,Mexico,1.0,1.0
709,2010,Uruguay,France,0.0,0.0
710,2010,Korea Republic,Greece,2.0,0.0
711,2010,Argentina,Nigeria,1.0,0.0
712,2010,England,USA,1.0,1.0
...,...,...,...,...,...
767,2010,Paraguay,Spain,0.0,1.0
768,2010,Uruguay,Netherlands,2.0,3.0
769,2010,Germany,Spain,0.0,1.0
770,2010,Uruguay,Germany,2.0,3.0
771,2010,Netherlands,Spain,0.0,1.0

In [11]:
df_test = worldcup_year.copy()
df_test["home_diff"] = df_test["home_team_goals"] - df_test["away_team_goals"]
df_test["away_diff"] = df_test["away_team_goals"] - df_test["home_team_goals"]
df_test["wins"] = ""
df_test["losses"] = ""
df_test["ties"]=""
df_test.head()

,year,home_country_team,away_country_team,home_team_goals,away_team_goals,home_diff,away_diff,wins,losses,ties
708,2010,South Africa,Mexico,1.0,1.0,0.0,0.0,,,
709,2010,Uruguay,France,0.0,0.0,0.0,0.0,,,
710,2010,Korea Republic,Greece,2.0,0.0,2.0,-2.0,,,
711,2010,Argentina,Nigeria,1.0,0.0,1.0,-1.0,,,
712,2010,England,USA,1.0,1.0,0.0,0.0,,,

In [12]:
#df_test["wins"] = df_test["wins"].astype(int)

df_test["wins"] = pd.to_numeric(df_test["wins"])
df_test["losses"] = pd.to_numeric(df_test["losses"])
df_test["ties"] = pd.to_numeric(df_test["ties"])

In [13]:
df_test = df_test.fillna(0)

In [14]:
df_test.head()

,year,home_country_team,away_country_team,home_team_goals,away_team_goals,home_diff,away_diff,wins,losses,ties
708,2010,South Africa,Mexico,1.0,1.0,0.0,0.0,0.0,0.0,0.0
709,2010,Uruguay,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0
710,2010,Korea Republic,Greece,2.0,0.0,2.0,-2.0,0.0,0.0,0.0
711,2010,Argentina,Nigeria,1.0,0.0,1.0,-1.0,0.0,0.0,0.0
712,2010,England,USA,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
for index, row in df_test.iterrows():
    if df_test.loc[index, "home_diff"] > 0:
        df_test.loc[index, "wins"] = df_test.loc[index, "wins"] + 1
    elif df_test.loc[index, "home_diff"] < 0:
        df_test.loc[index, "losses"] = df_test.loc[index, "losses"] + 1   
    else:
        df_test.loc[index, "ties"] = df_test.loc[index,"ties"] + 1

In [16]:
df_test_home = df_test[["year", "home_country_team", "wins", "losses", "ties"]]
df_test_home

     year home_country_team  wins  losses  ties
708  2010      South Africa   0.0     0.0   1.0
709  2010           Uruguay   0.0     0.0   1.0
710  2010    Korea Republic   1.0     0.0   0.0
711  2010         Argentina   1.0     0.0   0.0
712  2010           England   0.0     0.0   1.0
..    ...               ...   ...     ...   ...
767  2010          Paraguay   0.0     1.0   0.0
768  2010           Uruguay   0.0     1.0   0.0
769  2010           Germany   0.0     1.0   0.0
770  2010           Uruguay   0.0     1.0   0.0
771  2010       Netherlands   0.0     1.0   0.0

[64 rows x 5 columns]

In [17]:
df_test_away = worldcup_year.copy()
df_test_away["home_diff"] = df_test_away["home_team_goals"] - df_test_away["away_team_goals"]
df_test_away["away_diff"] = df_test_away["away_team_goals"] - df_test_away["home_team_goals"]
df_test_away["wins"] = ""
df_test_away["losses"] = ""
df_test_away["ties"]=""

df_test_away["wins"] = pd.to_numeric(df_test_away["wins"])
df_test_away["losses"] = pd.to_numeric(df_test_away["losses"])
df_test_away["ties"] = pd.to_numeric(df_test_away["ties"])
df_test_away = df_test_away.fillna(0)

for index, row in df_test_away.iterrows():
    if df_test_away.loc[index, "away_diff"] > 0:
        df_test_away.loc[index, "wins"] = df_test_away.loc[index, "wins"] + 1
    elif df_test_away.loc[index, "away_diff"] < 0:
        df_test_away.loc[index, "losses"] = df_test_away.loc[index, "losses"] + 1   
    else:
        df_test_away.loc[index, "ties"] = df_test_away.loc[index,"ties"] + 1

In [18]:
df_test_away = df_test_away[["year", "away_country_team", "wins", "losses", "ties"]]
df_test_away

     year away_country_team  wins  losses  ties
708  2010            Mexico   0.0     0.0   1.0
709  2010            France   0.0     0.0   1.0
710  2010            Greece   0.0     1.0   0.0
711  2010           Nigeria   0.0     1.0   0.0
712  2010               USA   0.0     0.0   1.0
..    ...               ...   ...     ...   ...
767  2010             Spain   1.0     0.0   0.0
768  2010       Netherlands   1.0     0.0   0.0
769  2010             Spain   1.0     0.0   0.0
770  2010           Germany   1.0     0.0   0.0
771  2010             Spain   1.0     0.0   0.0

[64 rows x 5 columns]

In [19]:
df_test_away = df_test_away.rename(columns={"away_country_team":"country"})
df_test_away

     year      country  wins  losses  ties
708  2010       Mexico   0.0     0.0   1.0
709  2010       France   0.0     0.0   1.0
710  2010       Greece   0.0     1.0   0.0
711  2010      Nigeria   0.0     1.0   0.0
712  2010          USA   0.0     0.0   1.0
..    ...          ...   ...     ...   ...
767  2010        Spain   1.0     0.0   0.0
768  2010  Netherlands   1.0     0.0   0.0
769  2010        Spain   1.0     0.0   0.0
770  2010      Germany   1.0     0.0   0.0
771  2010        Spain   1.0     0.0   0.0

[64 rows x 5 columns]

In [20]:
df_test_home

     year home_country_team  wins  losses  ties
708  2010      South Africa   0.0     0.0   1.0
709  2010           Uruguay   0.0     0.0   1.0
710  2010    Korea Republic   1.0     0.0   0.0
711  2010         Argentina   1.0     0.0   0.0
712  2010           England   0.0     0.0   1.0
..    ...               ...   ...     ...   ...
767  2010          Paraguay   0.0     1.0   0.0
768  2010           Uruguay   0.0     1.0   0.0
769  2010           Germany   0.0     1.0   0.0
770  2010           Uruguay   0.0     1.0   0.0
771  2010       Netherlands   0.0     1.0   0.0

[64 rows x 5 columns]

In [21]:
df_test_home = df_test_home.rename(columns={"home_country_team":"country"})
df_test_home

     year         country  wins  losses  ties
708  2010    South Africa   0.0     0.0   1.0
709  2010         Uruguay   0.0     0.0   1.0
710  2010  Korea Republic   1.0     0.0   0.0
711  2010       Argentina   1.0     0.0   0.0
712  2010         England   0.0     0.0   1.0
..    ...             ...   ...     ...   ...
767  2010        Paraguay   0.0     1.0   0.0
768  2010         Uruguay   0.0     1.0   0.0
769  2010         Germany   0.0     1.0   0.0
770  2010         Uruguay   0.0     1.0   0.0
771  2010     Netherlands   0.0     1.0   0.0

[64 rows x 5 columns]

In [22]:
df_new = df_test_home.append(df_test_away)
df_new

     year         country  wins  losses  ties
708  2010    South Africa   0.0     0.0   1.0
709  2010         Uruguay   0.0     0.0   1.0
710  2010  Korea Republic   1.0     0.0   0.0
711  2010       Argentina   1.0     0.0   0.0
712  2010         England   0.0     0.0   1.0
..    ...             ...   ...     ...   ...
767  2010           Spain   1.0     0.0   0.0
768  2010     Netherlands   1.0     0.0   0.0
769  2010           Spain   1.0     0.0   0.0
770  2010         Germany   1.0     0.0   0.0
771  2010           Spain   1.0     0.0   0.0

[128 rows x 5 columns]

In [23]:
# df_reorg = df_new["country"].value_counts()
# df_reorg

In [33]:
# country = df_new.groupby("country")
# wins = df_new.groupby("wins").size()
# losses = df_new.groupby("losses").size()
# ties = df_new.groupby("ties").size()

# final_df = pd.DataFrame(df_new).fillna(0)
# final_df
df_new.groupby(["country", "year"]).sum()
#df_new.groupby('country').agg({'wins': ['sum'], 'losses': 'sum'})

                      wins  losses  ties
country         year
Algeria         2010   0.0     2.0   1.0
Argentina       2010   4.0     1.0   0.0
Australia       2010   1.0     1.0   1.0
Brazil          2010   3.0     1.0   1.0
Cameroon        2010   0.0     3.0   0.0
Chile           2010   2.0     2.0   0.0
Cï¿½te d'Ivoire 2010   1.0     1.0   1.0
Denmark         2010   1.0     2.0   0.0
England         2010   1.0     1.0   2.0
France          2010   0.0     2.0   1.0
Germany         2010   5.0     2.0   0.0
Ghana           2010   2.0     1.0   2.0
Greece          2010   1.0     2.0   0.0
Honduras        2010   0.0     2.0   1.0
Italy           2010   0.0     1.0   2.0
Japan           2010   2.0     1.0   1.0
Korea DPR       2010   0.0     3.0   0.0
Korea Republic  2010   1.0     2.0   1.0
Mexico          2010   1.0     2.0   1.0
Netherlands     2010   6.0     1.0   0.0
New Zealand     2010   0.0     0.0   3.0
Nigeria         2010   0.0     2.0   1.0
Paraguay        2010   1.0     1.0   3.0
Portugal        2010   1.0     1.0   2.0
Serbia          2010   1.0     2.0   0.0
Slovakia        2010   1.0     2.0   1.0
Slovenia        2010   1.0     1.0   1.0
South Africa    2010   1.0     1.0   1.0
Spain           2010   6.0     1.0   0.0
Switzerland     2010   1.0     1.0   1.0
USA             2010   1.0     1.0   2.0
Uruguay         2010   3.0     2.0   2.0

In [25]:
# final_df = df_new.groupby(["country", "wins", "losses", "ties"]).size()
# final_df.head(100)